
body{
	font-family:"Palatino";
	
}

#page_name{
	font-size: 70px;
	margin-left:50px;
	text-shadow: 1 2px white, 1 3px black;
	margin-top:-200px;
	color: white;


}

#page_subtitle{
	margin-left:55px;
	color:white;
	margin-bottom:60px
	
}


.index_title{

}



#search_box{
	margin-left:100px;
	margin-top:10px;


}


.container-fluid{
	margin-top:20px;

}


